* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: auto;
    border: 1px solid red;
    background-color: #52bc53;
}

#container-master {
    border: 1px solid greenyellow;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

}

#container-top {
    border: 1px solid black;
    background-color: #4c1650;
    width: 100%;
    height: 80px;
}

#container-medium {
    border: 1px solid black;
    background-color: white;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

h1 {
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 13px 0 13px 0;
}

h3 {
    font-size: 20px;
    text-align: center;
    margin: 13px 0 13px 0;
}

#container-back {   
    /* width: 2480px;
    height: 3508px; */
    border: 1px solid black;
    background-color: #52bc53;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;    
    align-self: center;
    justify-content: center;
    padding: 20px 300px 0 300px;
    margin: auto;
}

.name-resp{
    display: flex;
    align-self: center;   
    text-align: center;
        
}

.box-table{
    border: 1px solid black;
    display: flex;

}

#container-label {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;


}

#name-person {
    width: 300px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    font-size: 16px;


}

#label-name {
    margin-top: 30px;

}

#label-date {
    margin-top: 30px;
}



button {
    width: 300px;
    height: 50px;
    border: none;
    background-color: #52bc53;
    cursor: pointer;
    margin-top: 40px;
    color: #FFFFFF;
    font-weight: bold;
}

button:hover {
    opacity: 0.7;

}

button:active {
    opacity: 0.5;
}

b {
    color: #fbce07;
    
}

p {
    font-size: 18px;
    width: 800px;
    margin-top: 10px;
    text-align: justify;

}

span{
    color: #fbce07;
    font-size: 30px;
}

#name_resp {
    font-size: 40px;  
    color: black;  
}

#negative{
    height: auto;
    width: auto;
}

input#button-reset {
    margin:auto;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    background-color: red;
    color:white;

}

#my-contact {
    width: 300px;
    height: 50px;
    border: none;
    /* background-color: #52bc53; */
    background-color: blue;
    cursor: pointer;
    margin-top: 40px;
    color: #FFFFFF;
    font-weight: bold;
}

#my-contact:hover {
    opacity: 0.7;

}

#my-contact:active {
    opacity: 0.5;
}

#local-button{
    display:flex;
    flex-flow: column wrap;
    gap: 20px;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 700px) {
    body {
        width: 105vw;
        /* height: 200%; */
    }

    #container-top {
        height: 40px;
    }

    .containers {
        width: 100%;
    }

    #container-back {
        padding: 20px 100px 0 0;
    }


    h1 {
        font-size: 24px;
        text-align: center;
    }

    h3 {
        font-size: 16px;
        text-align: center;
        margin: 13px 0 13px 0;
    }

    span{
        font-size: 15px;
    }

    


    #container-label {
        width: 100%;
        padding: 10px 14px;
    }

    #name-person {
        width: 95%;
    }

 

    #label-name {
        margin-top: 30px;
        width: 100%;

    }

    #label-date {
        margin-top: 30px;
        width: 100%;

    }

    button {
        margin-top: 50px;

    }

    p {
        font-size: 14px;
        width: 400px;
        margin-top: 10px;
        text-align: justify;

    }

    #name_resp {
        font-size: 16px;
    }

    @media screen and (max-width: 350px) {

        .containers{
            width: 100%;
        }

        #name-person {
            width: 100%;
            font-size: 15px;
        }

        piramide{
            font-size: 10px;
        }

        span{
            font-size: 10px;
        }

    

        button {
            width: 100%;

        }

        p {
            font-size: 10px;
            width: 300px;
            margin-top: 10px;
            text-align: justify;
            padding-top: 5px;

        }

        #name_resp {
            font-size: 10px;
        }


    }


}